
  <div class="form-group">
      <div class="form-control">  
                <div class="row">
                
                <div class="col-sm-12 title">
                  <p class=" title">
                  {{note.title}}
                </p>
               </div>
            
                 </div>

              <div class="row">
              <div class="col-sm-8">{{note.content}}</div>
              <div class="col-sm-4 number" > פתק מספר : {{note.id}} </div>
              </div>
      </div>
